<VirtualHost *:80>
    DocumentRoot {{ self_service_password_install_dir }}/htdocs
    ServerName {{ self_service_password_fqdn }}
    ServerAdmin webmaster@{{ self_service_password_fqdn }}
{% if self_service_password_https_mode == 'selfsigned' %}
    # Redirect all HTTP requests to HTTPS
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
{% endif %}
</VirtualHost>

{% if self_service_password_https_mode == 'letsencrypt' %}
MDomain {{ self_service_password_fqdn }}
{% endif %}

<VirtualHost *:443>
  DocumentRoot {{ self_service_password_install_dir }}/htdocs
  ServerName  {{ self_service_password_fqdn }}
  ServerAdmin webmaster@{{ self_service_password_fqdn }}
  SSLEngine on
{% if self_service_password_https_mode == 'selfsigned' %}
  SSLCertificateFile /etc/ssl/certs/{{ self_service_password_fqdn }}.crt
  SSLCertificateKeyFile /etc/ssl/private/{{ self_service_password_fqdn }}.key
{% endif %}

    DirectoryIndex index.php
    AddDefaultCharset UTF-8

    <Directory {{ self_service_password_install_dir }}>
    AllowOverride None
    Require ip 127.0.0.1 {{ self_service_password_allowed_hosts }}
    </Directory>
 
    <Directory {{ self_service_password_install_dir }}/scripts>
    AllowOverride None
    Require all denied
    </Directory>
</VirtualHost>
